@keyframes luffy{
from{background-color: blue}
to{background-color: green}
}
#div1{
   width: 20vw;
   height: 10vh;
   animation-name: luffy;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}
@keyframes zoro{
    0%{background-color: blue;}
    25%{background-color: green;}
    50%{background-color: yellow;}
    100%{background-color: red;}
}
#div2{
    width: 25vw;
    height: 10vh;
    animation-name: zoro;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes tanjuro{
    from{opacity: 1;}
    to{opacity: 0;}
}
#div3{
    width: 5vw;
    animation-name: tanjuro;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes sanji{
    from{filter: contrast(0);}
    to{filter: contrast(1)}
}
#div4{
    width: 5vw;
    animation-name: sanji;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes rihanna{
    from{filter: sepia(0);}
    to{filter: sepia(1);}
}
#div5{
    animation-name: rihanna;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes div6{
    from{background-color: orange; transform: translate(0vw);}
    to{background-color: pink; transform: translate(15vw);}   
}
#div6{
    width: 25vw;
    height: 10vh;
    animation-name:div6 ;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes div7{
    0%{background-color: red;transform: translateY(0%);}
    25%{background-color: green;}
    50%{background-color: yellow;}
    100%{background-color: aqua;transform: translateY(100%);}
    
}
#div7{
    width: 25vw;
    height: 10vh;
    animation-name: div7;
    animation-duration: 3s;
    animation-direction:alternate ;
    animation-iteration-count: infinite;
    
}
@keyframes ichigo{
    from{filter: drop-shadow(10px 10px 0px black);}
    to{filter: drop-shadow(15px 15px 5px yellow);}
}
#ichigo{
    height: 30vh;
    animation-name: ichigo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes goku-rose{
    from{filter: blur(0px);}
    to{filter: blur(5px);}
}
#goku-rose{
    height: 100vh;
    animation-name: goku-rose;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes luffy2{
   0%{filter: blur(6px) drop-shadow(10px 10px 6px green); }
   25%{filter: blur(3px) drop-shadow(10px 10px 6px yellow);}
   50%{filter:blur(2px)  drop-shadow(10px 10px 6px blue); }
   100%{filter: blur(0px) drop-shadow(10px 10px 6px red);transform: scale(1.1);}

}
#luffy2 :hover{
    animation-name: luffy2;
    animation-duration: 5s;
    animation-direction: alternate re;
}
  
  
   


@keyframes div8{
    from{width: 30px;}
    to{width: 100px;}
}
#div8{
    height: 5vw;
    background-color: rgb(77, 77, 237);
    animation-name: div8;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes div9{
    0%{width: 10px;}
    25%{width: 70px;}
    50%{width: 30px;}
    100%{width: 200px;}
}
#div9{
    height: 10vh;
    background-color: rgb(246, 198, 76);
    animation-name: div9;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes tobi{
    from{filter: brightness(0%);}
    to{filter: brightness(100%);}
}
#tobi{
    animation-name: tobi;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes yoruichi{
    from{height: 20vh;}
    to{height: 30vh;}
}
#yoruichi{
    animation-name: yoruichi;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes zoro-2{
    0%{filter: saturate(1) ;}
    25%{filter: saturate(2);}
    50%{filter: sepia(0);}
    100%{filter: sepia(1);}
}
#zoro-2{
    height: 30vh;
    animation-name: zoro-2;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes div10{
    from{height: 5vh; transform: translateX(5vw)}
    to{height: 15vh; transform: translateX(15vw);}
    
}
#div10{
    width: 20vw;
    height: 10vh;
    background-color: rgb(164, 51, 164);
    animation-name: div10;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes div11 {
    0%{height: 5vh;transform: translateY(5vh);}
    25%{height: 10vh;}
    50%{height: 15vh; }
    100%{height: 20vh; transform: translateY(15vh);}
}
#div11{
    width: 15vw;
    height: 20vh;
    border-radius: 500%;
    background-color: blue;
    animation-name: div11;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}